build --java_language_version=17 --java_runtime_version=17

common:testcache --remote_cache=grpc://localhost:50051
common:testcache --remote_cache_header=HELLO=world
common:testcache --repository_cache=
common:testcache --disk_cache=
